        <div class="col-lg-3">
          <h2>Twitter</h2>
          <p>For more frequent updates, follow us on Twitter.</p>
          <p><a class="twitter-follow-button" href="https://twitter.com/bazelbuild" data-show-count="false" data-size="large">Follow @bazelbuild</a></p>
          <h2>Discuss</h2>
          <p>Join the discussion at our <a href="https://groups.google.com/forum/#!forum/bazel-discuss">mailing list</a>.</p>
          <h2>Subscribe</h2>
          <p>Subscribe to our blog via the <a href="/blog/feed.xml">RSS Feed</a> or via email:</p>
          <div class="well">
            <form action="https://feedburner.google.com/fb/a/mailverify" method="post" target="popupwindow" onsubmit="window.open('https://feedburner.google.com/fb/a/mailverify?uri=BazelBlog', 'popupwindow', 'scrollbars=yes,width=550,height=520');return true">
              <div class="form-group">
                <input type="text" class="form-control" name="email" placeholder="name@email.com">
              </div>
              <input type="hidden" value="BazelBlog" name="uri">
              <input type="hidden" name="loc" value="en_US">
              <button type="submit" class="btn btn-primary btn-block">Subscribe</button>
            </form>
            <p>Delivered by <a href="https://feedburner.google.com" target="_blank">FeedBurner</a></p>
          </div>
        </div>
