<div class="container">
  <div class="row">
    <div class="col-sm-4 col-md-2">
      <p>About</p>
      <ul class="list-unstyled">
        <li><a href="https://github.com/bazelbuild/bazel/wiki/Bazel-Users">Who's Using Bazel?</a></li>
        <li><a href="{{ site.main_site_url }}/roadmap.html">Roadmap</a></li>
        <li><a href="{{ site.main_site_url }}/contributing.html">Contribute</a></li>
        <li><a href="{{ site.main_site_url }}/governance.html">Governance Plan</a></li>
        <li><a href="https://policies.google.com/privacy">Privacy Policy</a></li>
      </ul>
    </div>
    <div class="col-sm-4 col-md-2">
      <p>Support</p>
      <ul class="list-unstyled">
        <li><a href="http://stackoverflow.com/questions/tagged/bazel">Stack Overflow</a></li>
        <li><a href="https://github.com/bazelbuild/bazel/issues">Issue Tracker</a></li>
        <li><a href="{{ site.docs_site_url }}">Documentation</a></li>
        <li><a href="{{ site.main_site_url }}/faq.html">FAQ</a></li>
        <li><a href="{{ site.main_site_url }}/support.html">Support Policy</a></li>
      </ul>
    </div>
    <div class="col-sm-4 col-md-2">
      <p>Stay Connected</p>
      <ul class="list-unstyled">
        <li><a href="https://twitter.com/bazelbuild">Twitter</a></li>
        <li><a href="{{ site.blog_site_url }}">Blog</a></li>
        <li><a href="https://github.com/bazelbuild/bazel">GitHub</a></li>
        <li><a href="https://groups.google.com/forum/#!forum/bazel-discuss">Discussion group</a></li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <p class="text-muted">&copy; {{ 'now' | date: "%Y" }} Google</p>
    </div>
  </div>
</div>
