common --enable_platform_specific_config

# Shared configuration flags to build and test Bazel on RBE.
build:remote_shared --remote_instance_name=projects/bazel-untrusted/instances/default_instance
build:remote_shared --remote_executor=grpcs://remotebuildexecution.googleapis.com
build:remote_shared --remote_download_toplevel
build:remote_shared --remote_timeout=600
build:remote_shared --google_default_credentials
build:remote_shared --jobs=100
build:remote_shared --action_env=PATH=/bin:/usr/bin:/usr/local/bin
build:remote_shared --java_runtime_version=rbe_jdk
build:remote_shared --tool_java_runtime_version=rbe_jdk
# Workaround for singlejar incompatibility with RBE
build:remote_shared --noexperimental_check_desugar_deps

# Configuration to build and test Bazel on RBE on Ubuntu 18.04 with Java 11
build:ubuntu1804_java11 --extra_toolchains=@rbe_ubuntu1804_java11//java:all
build:ubuntu1804_java11 --crosstool_top=@rbe_ubuntu1804_java11//cc:toolchain
build:ubuntu1804_java11 --extra_toolchains=@rbe_ubuntu1804_java11//config:cc-toolchain
build:ubuntu1804_java11 --extra_execution_platforms=//:rbe_ubuntu1804_java11_platform,//:rbe_ubuntu1804_java11_highcpu_platform
build:ubuntu1804_java11 --host_platform=//:rbe_ubuntu1804_java11_platform
build:ubuntu1804_java11 --platforms=//:rbe_ubuntu1804_java11_platform
build:ubuntu1804_java11 --config=remote_shared

# Alias
build:remote --config=ubuntu1804_java11

build:macos --macos_minimum_os=10.11

# On Windows, we need pywin32 pip package, which doesn't work with the Python hermetic toolchain.
# See https://github.com/bazelbuild/rules_python/issues/1356
# Therefore, use the local detected Python toolchain on Windows.
build:windows --extra_toolchains=@bazel_tools//tools/python:autodetecting_toolchain

build:windows_arm64 --platforms=//:windows_arm64
build:windows_arm64 --extra_toolchains=@local_config_cc//:cc-toolchain-arm64_windows

# Enable Bzlmod
build:bzlmod --enable_bzlmod
build:bzlmod --check_direct_dependencies=error

# Enable Java 11 language features (https://github.com/bazelbuild/bazel/issues/14592)
build --java_language_version=11
build --tool_java_language_version=11

# Fail if a glob doesn't match anything (https://github.com/bazelbuild/bazel/issues/8195)
build --incompatible_disallow_empty_glob

# Manually enable cc toolchain resolution before it is flipped. https://github.com/bazelbuild/bazel/issues/7260
build --incompatible_enable_cc_toolchain_resolution

# Fix non-deterministic Java compilation failures (https://github.com/bazelbuild/bazel/issues/3236)
build --incompatible_sandbox_hermetic_tmp

# User-specific .bazelrc
try-import %workspace%/user.bazelrc

build:docs --workspace_status_command=scripts/docs/get_workspace_status.sh
