*~
/output/
/bazel-bin
/bazel-genfiles
/bazel-out
/bazel-bazel
/bazel-testlogs
/.settings
/.project
/.classpath
/.factorypath
/.idea/
/base_workspace/bazel-bin
/base_workspace/bazel-genfiles
/base_workspace/bazel-out
/base_workspace/bazel-base_workspace
/base_workspace/bazel-testlogs
/base_workspace/examples
/base_workspace/tools
/base_workspace/third_party
/base_workspace/src
/bazel.iml
/tools/jdk/jdk
/tools/objc/*.jar
/tools/objc/actoolwrapper.sh
/tools/objc/ibtoolwrapper.sh
/tools/objc/momctoolwrapper.sh
/tools/objc/realpath
/tools/objc/StdRedirect.dylib
/tools/objc/swiftstdlibtoolwrapper.sh
/tools/objc/xcrunwrapper.sh
