<h3>Extending Bazel</h3>
  <ul class="sidebar-nav">
    <li><a href="/versions/{{ current_version }}/skylark/concepts.html">Overview</a></li>
    <li><a href="/versions/{{ current_version }}/skylark/language.html">Starlark Language</a></li>
    <li><a href="/versions/{{ current_version }}/skylark/bzl-style.html">.bzl Style Guide</a></li>
    <li><a href="/versions/{{ current_version }}/skylark/faq.html">FAQ</a></li>
  </ul>

<h3>Understanding Rules</h3>
  <ul class="sidebar-nav"
      id="starlark-concepts"
      aria-controls="starlark-concepts">
    <li><a href="/versions/{{ current_version }}/skylark/macros.html">Macros</a></li>
    <li><a href="/versions/{{ current_version }}/skylark/rules.html">Rules</a></li>
    <li><a href="/versions/{{ current_version }}/skylark/depsets.html">Depsets</a></li>
    <li><a href="/versions/{{ current_version }}/skylark/aspects.html">Aspects</a></li>
    <li><a href="/versions/{{ current_version }}/skylark/repository_rules.html">Repository Rules</a></li>
    <li><a href="/versions/{{ current_version }}/skylark/config.html">Configurations</a></li>
  </ul>

<h3>Writing Rules</h3>

  <ul class="sidebar-nav">
    <li><a href="/versions/{{ current_version }}/rules.html">Recommended & Native Rules</a></li>
    <li><a href="/versions/{{ current_version }}/skylark/rules-tutorial.html">Writing Rules</a></li>
    <li><a href="/versions/{{ current_version }}/skylark/windows_tips.html">Writing Rules on Windows</a></li>
    <li><a href="https://github.com/bazelbuild/examples/tree/master/rules">Example rules</a></li>
    <li><a href="/versions/{{ current_version }}/rule-challenges.html">Rules Challenges</a></li>
  </ul>

<h3>Writing Macros</h3>

  <ul class="sidebar-nav">
    <li><a href="/versions/{{ current_version }}/skylark/tutorial-creating-a-macro.html">Creating a Macro</a></li>
    <li><a href="/versions/{{ current_version }}/skylark/tutorial-custom-verbs.html">Creating Custom Verbs</a></li>
  </ul>


<h3>Testing & Deploying Rules</h3>
  <ul class="sidebar-nav"
      id="starlark-practices"
      aria-controls="starlark-practices">
    <li><a href="/versions/{{ current_version }}/skylark/testing.html">Testing Rules</a></li>
    <li><a href="https://github.com/bazelbuild/buildtools/tree/master/buildifier">Linting</a></li>
    <li><a href="/versions/{{ current_version }}/skylark/performance.html">Optimizing Performance</a></li>
    <li><a href="/versions/{{ current_version }}/skylark/deploying.html">Deploying Rules</a></li>
    <li><a href="https://github.com/bazelbuild/stardoc">Documenting Rules with Stardoc</a></li>
  </ul>


<h3>Using Persistent Workers</h3>

  <ul class="sidebar-nav"
      id="persistent-workers"
      aria-controls="persistent-workers">
    <li><a href="/versions/{{ current_version }}/persistent-workers.html">Understanding Persistent Workers</a></li>
    <li><a href="/versions/{{ current_version }}/multiplex-worker.html">Multiplex Workers</a></li>
    <li><a href="/versions/{{ current_version }}/creating-workers.html">Creating Persistent Workers</a></li>
  </ul>

<h3>Reference</h3>
  <ul class="sidebar-nav"
      id="starlark-reference"
      aria-controls="starlark-reference">
    <li><a href="/versions/{{ current_version }}/skylark/lib/skylark-overview.html">Extensions API</a></li>
  </ul>
