<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE web-app PUBLIC
"-//Oracle Corporation//DTD Web Application 2.3//EN"
"http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">
  <servlet>
    <servlet-name>build</servlet-name>
    <servlet-class>com.google.devtools.dash.BuildViewServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>store</servlet-name>
    <servlet-class>com.google.devtools.dash.StoreServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>build</servlet-name>
    <url-pattern>/result/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>store</servlet-name>
    <url-pattern>/start/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>store</servlet-name>
    <url-pattern>/options/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>store</servlet-name>
    <url-pattern>/targets/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>store</servlet-name>
    <url-pattern>/test/*</url-pattern>
  </servlet-mapping>

  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
</web-app>
