<h3>Build Encyclopedia</h3>
<ul class="sidebar-nav">
  <li><a href="/docs/be/overview.html">Overview</a></li>
  <li>

    <a data-toggle="collapse" href="#be-menu" aria-expanded="false"
        aria-controls="be-menu">
      Concepts <span class="caret"></span>
    </a>
    <ul class="collapse sidebar-nav sidebar-submenu" id="be-menu">
      <li><a href="/docs/be/common-definitions.html">Common Definitions</a></li>
      <li><a href="/docs/be/make-variables.html">"Make" variables</a></li>
      <li><a href="/docs/be/predefined-python-variables.html">Predefined Python Variables</a></li>
    </ul>
  </li>
  <li class="sidebar-nav-heading">Built-in Rules</li>
  <li><a href="/docs/be/functions.html">Functions</a></li>
    <li><a href="/docs/be/android.html">Android</a></li>
    <li><a href="/docs/be/c-cpp.html">C / C++</a></li>
    <li><a href="/docs/be/java.html">Java</a></li>
    <li><a href="/docs/be/objective-c.html">Objective-C</a></li>
    <li><a href="/docs/be/protocol-buffer.html">Protocol Buffer</a></li>
    <li><a href="/docs/be/python.html">Python</a></li>
    <li><a href="/docs/be/shell.html">Shell</a></li>
    <li><a href="/docs/be/extra-actions.html">Extra Actions</a></li>
    <li><a href="/docs/be/general.html">General</a></li>
    <li><a href="/docs/be/workspace.html">Workspace</a></li>

  <li class="sidebar-nav-heading">Skylark Rules</li>
  <li><a href="/docs/be/appengine.html">Java AppEngine</a></li>
  <li><a href="/docs/be/closure.html">Closure Tools</a></li>
  <li><a href="/docs/be/dotnet.html">C#</a></li>
  <li><a href="/docs/be/d.html">D</a></li>
  <li><a href="/docs/be/docker.html">Docker</a></li>
  <li><a href="/docs/be/groovy.html">Groovy</a></li>
  <li><a href="/docs/be/go.html">Go</a></li>
  <li><a href="/docs/be/jsonnet.html">Jsonnet</a></li>
  <li><a href="/docs/be/pkg.html">Packaging</a></li>
  <li><a href="/docs/be/rust.html">Rust</a></li>
  <li><a href="/docs/be/sass.html">Sass</a></li>
  <li><a href="/docs/be/scala.html">Scala</a></li>
</ul>
