// Footer styles

$footer-background: #424242;
$footer-color: #fff;
$footer-link-color: #e0e0e0;

.footer {
  margin-top: 40px;
  background-color: $footer-background;
  color: $footer-color;
  padding: 20px;

  .text-muted {
    color: $footer-link-color;
  }

  a {
    color: $footer-link-color;

    &:hover,
    &:focus {
      color: $footer-color;
      text-decoration: none;
    }
  }
}
