<h3>Guides</h3>
  <ul class="sidebar-nav">
    <li><a href="/versions/{{ current_version }}/guide.html">Running Bazel</a></li>
    <li><a href="/versions/{{ current_version }}/memory-saving-mode.html">Optimizing Memory</a></li>
    <li><a href="/versions/{{ current_version }}/windows.html">Building on Windows</a></li>
    <li><a href="/versions/{{ current_version }}/best-practices.html">Best practices</a></li>
    <li><a href="/versions/{{ current_version }}/skylark/tutorial-sharing-variables.html">Sharing BUILD Variables</a></li>
  </ul>

<h3>Rules and Macros</h3>
  <ul class="sidebar-nav">
    <li><a href="/versions/{{ current_version }}/rules.html">Understanding Rules</a></li>
    <li><a href="/versions/{{ current_version }}/rules-tutorial.html">Writing Rules</a></li>
    <li><a href="/versions/{{ current_version }}/rule-challenges.html">Rules Challenges</a></li>
    <li><a href="/versions/{{ current_version }}/skylark/tutorial-creating-a-macro.html">Creating a Macro</a></li>
    <li><a href="/versions/{{ current_version }}/skylark/tutorial-custom-verbs.html">Creating Custom Verbs</a></li>
  </ul>

<h3>Query for Dependencies</h3>
  <ul class="sidebar-nav">
    <li><a href="/versions/{{ current_version }}/query-how-to.html">Query Quickstart</a></li>
    <li><a href="/versions/{{ current_version }}/cquery.html">Query Build Options</a></li>
    <li><a href="/versions/{{ current_version }}/aquery.html">Query Action Graph</a></li>
    <li><a href="/versions/{{ current_version }}/query.html">Query Reference</a></li>
  </ul>

<h3>Remote execution</h3>
  <ul class="sidebar-nav">
     <li><a href="/versions/{{ current_version }}/remote-execution.html">Overview</a></li>
     <li><a href="/versions/{{ current_version }}/remote-execution-rules.html">Guidelines</a></li>
     <li>
        <a class="sidebar-nav-heading" data-toggle="collapse"
            href="#troubleshoot-remote-execution-menu" aria-expanded="false"
            aria-controls="troubleshoot-remote-execution-menu">
          Troubleshooting<span class="caret"></span>
        </a>
        <ul class="collapse sidebar-nav sidebar-submenu" id="troubleshoot-remote-execution-menu">
           <li><a href="/versions/{{ current_version }}/remote-execution-sandbox.html">Troubleshooting with Bazel Sandbox</a></li>
           <li><a href="/versions/{{ current_version }}/workspace-log.html">Non-Hermetic WORKSPACE Rules</a></li>
           <li><a href="/versions/{{ current_version }}/remote-execution-caching-debug.html">Debugging Remote Cache Hits</a></li>
        </ul>
     </li>
     <li><a href="/versions/{{ current_version }}/remote-execution-ci.html">Remote Execution and CI</a></li>
     <li>
     <a class="sidebar-nav-heading" data-toggle="collapse"
         href="#remote-caching-menu" aria-expanded="false"
         aria-controls="remote-caching-menu">
       Remote caching<span class="caret"></span>
     </a>
    <ul class="collapse sidebar-nav sidebar-submenu" id="remote-caching-menu">
       <li><a href="/versions/{{ current_version }}/remote-caching.html">Overview</a></li>
       <li><a href="/versions/{{ current_version }}/remote-caching-debug.html">Debugging</a></li>
    </ul>
  </li>
 </ul>


<h3>Extending Bazel</h3>
<ul class="sidebar-nav">
  <li><a href="/versions/{{ current_version }}/skylark/concepts.html">Overview</a></li>

  <li>
    <a class="sidebar-nav-heading" data-toggle="collapse"
        href="#starlark-concepts" aria-expanded="false"
        aria-controls="starlark-concepts">
      Concepts<span class="caret"></span>
    </a>
    <ul class="collapse sidebar-nav sidebar-submenu" id="starlark-concepts">
      <li><a href="/versions/{{ current_version }}/skylark/macros.html">Macros</a></li>
      <li><a href="/versions/{{ current_version }}/skylark/rules.html">Rules</a></li>
      <li><a href="/versions/{{ current_version }}/skylark/depsets.html">Depsets</a></li>
      <li><a href="/versions/{{ current_version }}/skylark/aspects.html">Aspects</a></li>
      <li><a href="/versions/{{ current_version }}/skylark/repository_rules.html">Repository Rules</a></li>
      <li><a href="/versions/{{ current_version }}/skylark/config.html">Configurations</a></li>
    </ul>
  </li>

  <li>
    <a class="sidebar-nav-heading" data-toggle="collapse"
       href="#starlark-practices" aria-expanded="false"
       aria-controls="starlark-practices">
      Best practices<span class="caret"></span>
    </a>
    <ul class="collapse sidebar-nav sidebar-submenu" id="starlark-practices">
      <li><a href="/versions/{{ current_version }}/skylark/bzl-style.html">.bzl Style Guide</a></li>
      <li><a href="/versions/{{ current_version }}/skylark/testing.html">Testing Extensions</a></li>
      <li><a href="https://github.com/bazelbuild/stardoc">Documenting Rules with Stardoc</a></li>
      <li><a href="https://github.com/bazelbuild/buildtools/tree/master/buildifier">Linting</a></li>
      <li><a href="/versions/{{ current_version }}/skylark/performance.html">Optimizing Performance</a></li>
      <li><a href="/versions/{{ current_version }}/skylark/deploying.html">Deploying Rules</a></li>
      <li><a href="/versions/{{ current_version }}/skylark/windows_tips.html">Writing Rules on Windows</a></li>
    </ul>
  </li>

  <li><a href="https://github.com/bazelbuild/examples/tree/master/rules">Examples</a></li>
  <li><a href="/versions/{{ current_version }}/skylark/lib/skylark-overview.html">Extensions API</a></li>

  <li>
    <a class="sidebar-nav-heading" data-toggle="collapse"
       href="#persistent-workers" aria-expanded="false"
       aria-controls="persistent-workers">
      Persistent Workers<span class="caret"></span>
    </a>
    <ul class="collapse sidebar-nav sidebar-submenu" id="persistent-workers">
       <li><a href="/versions/{{ current_version }}/persistent-workers.html">Persistent Workers</a></li>
       <li><a href="/versions/{{ current_version }}/multiplex-worker.html">Multiplex Workers</a></li>
       <li><a href="/versions/{{ current_version }}/creating-workers.html">Creating Persistent Workers</a></li>
    </ul>
  </li>

  <li><a href="/versions/{{ current_version }}/skylark/rules-tutorial.html">Rules tutorial</a></li>
  <li><a href="/versions/{{ current_version }}/skylark/faq.html">FAQ</a></li>
  <li><a href="/versions/{{ current_version }}/skylark/language.html">Starlark Language</a></li>
</ul>

<h3>Reference</h3>
<ul class="sidebar-nav">
 <li><a href="/versions/{{ current_version }}/user-manual.html">Commands and Options</a></li>
 <li><a href="/versions/{{ current_version }}/be/overview.html">Build Encyclopedia</a></li>
 <li><a href="/versions/{{ current_version }}/test-encyclopedia.html">Test Encyclopedia</a></li>
 <li><a href="/versions/{{ current_version }}/command-line-reference.html">Command Line Reference</a></li>

 <li>
    <a class="sidebar-nav-heading" data-toggle="collapse"
        href="#build-files-menu" aria-expanded="false"
        aria-controls="build-files-menu">
      BUILD Files<span class="caret"></span>
    </a>
    <ul class="collapse sidebar-nav sidebar-submenu" id="build-files-menu">
      <li><a href="/versions/{{ current_version }}/be/functions.html">Functions</a></li>
      <li><a href="/versions/{{ current_version }}/be/common-definitions.html">Common Rule Definitions</a></li>
      <li><a href="/versions/{{ current_version }}/be/make-variables.html">"Make" Variables</a></li>
      <li><a href="/versions/{{ current_version }}/skylark/build-style.html">BUILD Style Guide</a></li>
    </ul>
 </li>

 <li>
     <a class="sidebar-nav-heading" data-toggle="collapse"
        href="#bep-menu" aria-expanded="false"
        aria-controls="bep-menu">
         Build Event Protocol<span class="caret"></span>
     </a>
     <ul class="collapse sidebar-nav sidebar-submenu" id="bep-menu">
         <li><a href="/versions/{{ current_version }}/build-event-protocol.html">Overview</a></li>
         <li><a href="/versions/{{ current_version }}/bep-examples.html">BEP examples</a></li>
     </ul>
 </li>
 <li><a href="/versions/{{ current_version }}/output_directories.html">Output Directory Layout</a></li>
 <li><a href="/versions/{{ current_version }}/platforms.html">Platforms</a></li>
 <li><a href="/versions/{{ current_version }}/exec-groups.html">Execution Groups</a></li>
 <li><a href="/versions/{{ current_version }}/toolchains.html">Toolchains</a></li>
</ul>
