<h3>Guides</h3>
  <ul class="sidebar-nav">
    <li><a href="/versions/{{ current_version }}/guide.html">Running Bazel</a></li>
    <li><a href="/versions/{{ current_version }}/memory-saving-mode.html">Optimizing Memory</a></li>
    <li><a href="/versions/{{ current_version }}/windows.html">Building on Windows</a></li>
    <li><a href="/versions/{{ current_version }}/best-practices.html">Best practices</a></li>
    <li><a href="/versions/{{ current_version }}/skylark/tutorial-sharing-variables.html">Sharing BUILD Variables</a></li>
  </ul>


<h3>Query for Dependencies</h3>
  <ul class="sidebar-nav">
    <li><a href="/versions/{{ current_version }}/query-how-to.html">Query Quickstart</a></li>
    <li><a href="/versions/{{ current_version }}/query.html">Query Reference</a></li>
    <li><a href="/versions/{{ current_version }}/cquery.html">Query Configured Targets Reference</a></li>
    <li><a href="/versions/{{ current_version }}/aquery.html">Query Action Graph Reference</a></li>
  </ul>

<h3>Remote execution</h3>
  <ul class="sidebar-nav">
     <li><a href="/versions/{{ current_version }}/remote-execution.html">Overview</a></li>
     <li><a href="/versions/{{ current_version }}/remote-execution-rules.html">Guidelines</a></li>
     <li>
        <a class="sidebar-nav-heading" data-toggle="collapse"
            href="#troubleshoot-remote-execution-menu" aria-expanded="false"
            aria-controls="troubleshoot-remote-execution-menu">
          Troubleshooting<span class="caret"></span>
        </a>
        <ul class="collapse sidebar-nav sidebar-submenu" id="troubleshoot-remote-execution-menu">
           <li><a href="/versions/{{ current_version }}/remote-execution-sandbox.html">Troubleshooting with Bazel Sandbox</a></li>
           <li><a href="/versions/{{ current_version }}/workspace-log.html">Non-Hermetic WORKSPACE Rules</a></li>
           <li><a href="/versions/{{ current_version }}/remote-execution-caching-debug.html">Debugging Remote Cache Hits</a></li>
        </ul>
     </li>
     <li><a href="/versions/{{ current_version }}/remote-execution-ci.html">Remote Execution and CI</a></li>
     <li>
     <a class="sidebar-nav-heading" data-toggle="collapse"
         href="#remote-caching-menu" aria-expanded="false"
         aria-controls="remote-caching-menu">
       Remote caching<span class="caret"></span>
     </a>
    <ul class="collapse sidebar-nav sidebar-submenu" id="remote-caching-menu">
       <li><a href="/versions/{{ current_version }}/remote-caching.html">Overview</a></li>
       <li><a href="/versions/{{ current_version }}/remote-caching-debug.html">Debugging</a></li>
    </ul>
  </li>
 </ul>


<h3>Reference</h3>
<ul class="sidebar-nav">
 <li><a href="/versions/{{ current_version }}/user-manual.html">Commands and Options</a></li>
 <li><a href="/versions/{{ current_version }}/be/overview.html">Build Encyclopedia</a></li>
 <li><a href="/versions/{{ current_version }}/test-encyclopedia.html">Test Encyclopedia</a></li>
 <li><a href="/versions/{{ current_version }}/command-line-reference.html">Command Line Reference</a></li>

 <li>
    <a class="sidebar-nav-heading" data-toggle="collapse"
        href="#build-files-menu" aria-expanded="false"
        aria-controls="build-files-menu">
      BUILD Files<span class="caret"></span>
    </a>
    <ul class="collapse sidebar-nav sidebar-submenu" id="build-files-menu">
      <li><a href="/versions/{{ current_version }}/be/functions.html">Functions</a></li>
      <li><a href="/versions/{{ current_version }}/be/common-definitions.html">Common Rule Definitions</a></li>
      <li><a href="/versions/{{ current_version }}/be/make-variables.html">"Make" Variables</a></li>
      <li><a href="/versions/{{ current_version }}/skylark/build-style.html">BUILD Style Guide</a></li>
    </ul>
 </li>

 <li>
     <a class="sidebar-nav-heading" data-toggle="collapse"
        href="#bep-menu" aria-expanded="false"
        aria-controls="bep-menu">
         Build Event Protocol<span class="caret"></span>
     </a>
     <ul class="collapse sidebar-nav sidebar-submenu" id="bep-menu">
         <li><a href="/versions/{{ current_version }}/build-event-protocol.html">Overview</a></li>
         <li><a href="/versions/{{ current_version }}/bep-examples.html">BEP examples</a></li>
         <li><a href="/versions/{{ current_version }}/bep-glossary.html">BEP glossary</a></li>
     </ul>
 </li>
 <li><a href="/versions/{{ current_version }}/output_directories.html">Output Directory Layout</a></li>
 <li><a href="/versions/{{ current_version }}/platforms.html">Platforms</a></li>
 <li><a href="/versions/{{ current_version }}/exec-groups.html">Execution Groups</a></li>
 <li><a href="/versions/{{ current_version }}/toolchains.html">Toolchains</a></li>
</ul>
