################### Remote java_tools with embedded javac 11 ###################
http_archive(
    {remote_java_tools_test}
)

http_archive(
    {remote_java_tools_test_linux}
)

http_archive(
    {remote_java_tools_test_windows}
)

http_archive(
    {remote_java_tools_test_darwin_x86_64}
)

http_archive(
    {remote_java_tools_test_darwin_arm64}
)

#################################### JDK 11 ####################################
# This must be kept in sync with the top-level WORKSPACE file.
http_archive(
    {openjdk11_linux_archive}
    build_file_content = "java_runtime(name = 'runtime', srcs =  glob(['**']), visibility = ['//visibility:public'])",
)

# This must be kept in sync with the top-level WORKSPACE file.
http_archive(
    {openjdk11_linux_s390x_archive}
    build_file_content = "java_runtime(name = 'runtime', srcs =  glob(['**']), visibility = ['//visibility:public'])",
)

# This must be kept in sync with the top-level WORKSPACE file.
http_archive(
    {openjdk11_darwin_archive}
    build_file_content = "java_runtime(name = 'runtime', srcs =  glob(['**']), visibility = ['//visibility:public'])",
)

# This must be kept in sync with the top-level WORKSPACE file.
http_archive(
    {openjdk11_darwin_aarch64_archive}
    build_file_content = "java_runtime(name = 'runtime', srcs =  glob(['**']), visibility = ['//visibility:public'])",
)

# This must be kept in sync with the top-level WORKSPACE file.
http_archive(
    {openjdk11_windows_archive}
    build_file_content = "java_runtime(name = 'runtime', srcs =  glob(['**']), visibility = ['//visibility:public'])",
)

# This must be kept in sync with the top-level WORKSPACE file.
http_archive(
    {openjdk11_windows_arm64_archive}
    build_file_content = "java_runtime(name = 'runtime', srcs =  glob(['**']), visibility = ['//visibility:public'])",
)

#################################### JDK 17 ####################################
# This must be kept in sync with the top-level WORKSPACE file.
http_archive(
    {openjdk17_linux_archive}
    build_file_content = """
java_runtime(name = 'runtime', srcs =  glob(['**']), visibility = ['//visibility:public'])
exports_files(["WORKSPACE"], visibility = ["//visibility:public"])
""",
)

# This must be kept in sync with the top-level WORKSPACE file.
http_archive(
    {openjdk17_linux_s390x_archive}
    build_file_content = """
java_runtime(name = 'runtime', srcs =  glob(['**']), visibility = ['//visibility:public'])
exports_files(["WORKSPACE"], visibility = ["//visibility:public"])
""",
)

# This must be kept in sync with src/test/shell/bazel/testdata/jdk_http_archives.
http_archive(
    {openjdk17_darwin_archive}
    build_file_content = """
java_runtime(name = 'runtime', srcs =  glob(['**']), visibility = ['//visibility:public'])
exports_files(["WORKSPACE"], visibility = ["//visibility:public"])
""",
)

# This must be kept in sync with src/test/shell/bazel/testdata/jdk_http_archives.
http_archive(
    {openjdk17_darwin_aarch64_archive}
    build_file_content = """
java_runtime(name = 'runtime', srcs =  glob(['**']), visibility = ['//visibility:public'])
exports_files(["WORKSPACE"], visibility = ["//visibility:public"])
""",
)

# This must be kept in sync with src/test/shell/bazel/testdata/jdk_http_archives.
http_archive(
    {openjdk17_windows_archive}
    build_file_content = """
java_runtime(name = 'runtime', srcs =  glob(['**']), visibility = ['//visibility:public'])
exports_files(["WORKSPACE"], visibility = ["//visibility:public"])
""",
)

# This must be kept in sync with src/test/shell/bazel/testdata/jdk_http_archives.
http_archive(
    {openjdk17_windows_arm64_archive}
    build_file_content = """
java_runtime(name = 'runtime', srcs =  glob(['**']), visibility = ['//visibility:public'])
exports_files(["WORKSPACE"], visibility = ["//visibility:public"])
""",
)

#################################### JDK 20 ####################################
http_archive(
    {openjdk20_linux_archive}
    build_file_content = """
java_runtime(name = 'runtime', srcs =  glob(['**']), visibility = ['//visibility:public'])
exports_files(["WORKSPACE"], visibility = ["//visibility:public"])
""",
)

http_archive(
    {openjdk20_darwin_archive}
    build_file_content = """
java_runtime(name = 'runtime', srcs =  glob(['**']), visibility = ['//visibility:public'])
exports_files(["WORKSPACE"], visibility = ["//visibility:public"])
""",
)

http_archive(
    {openjdk20_darwin_aarch64_archive}
    build_file_content = """
java_runtime(name = 'runtime', srcs =  glob(['**']), visibility = ['//visibility:public'])
exports_files(["WORKSPACE"], visibility = ["//visibility:public"])
""",
)

http_archive(
    {openjdk20_windows_archive}
    build_file_content = """
java_runtime(name = 'runtime', srcs =  glob(['**']), visibility = ['//visibility:public'])
exports_files(["WORKSPACE"], visibility = ["//visibility:public"])
""",
)
