<h3>Home</h3>
<ul class="sidebar-nav">
  <li><a href="/versions/{{ current_version }}/bazel-overview.html">Overview</a></li>
  <li><a href="/versions/{{ current_version }}/bazel-vision.html">Vision</a></li>
  <li><a href="/versions/{{ current_version }}/getting-started.html">Getting Started</a></li>
  <li><a href="/versions/{{ current_version }}/glossary.html">Glossary</a></li>
</ul>

<h3>Installing Bazel</h3>
<ul class="sidebar-nav">
  <li><a href="/versions/{{ current_version }}/install.html">Overview</a></li>
  <li><a href="/versions/{{ current_version }}/install-redhat.html">Fedora/CentOS</a></li>
  <li><a href="/versions/{{ current_version }}/install-os-x.html">macOS</a></li>
  <li><a href="/versions/{{ current_version }}/install-suse.html">openSUSE</a></li>
  <li><a href="/versions/{{ current_version }}/install-ubuntu.html">Ubuntu</a></li>
  <li><a href="/versions/{{ current_version }}/install-windows.html">Windows</a></li>
  <li><a href="/versions/{{ current_version }}/install-compile-source.html">Compiling from Source</a></li>
  <li><a href="/versions/{{ current_version }}/install-bazelisk.html">Installing with Bazelisk</a></li>
</ul>

<h3>Setting up your environment</h3>
<ul class="sidebar-nav">
  <li><a href="/versions/{{ current_version }}/completion.html">Command-Line Completion</a></li>
  <li><a href="/versions/{{ current_version }}/ide.html">Integrating with IDEs</a></li>
</ul>

<h3>Tutorials</h3>
<ul class="sidebar-nav">
    <li><a href="/versions/{{ current_version }}/tutorial/cpp.html">C++</a></li>
    <li><a href="/versions/{{ current_version }}/tutorial/java.html">Java</a></li>
    <li><a href="/versions/{{ current_version }}/tutorial/android-app.html">Android</a></li>
    <li><a href="/versions/{{ current_version }}/tutorial/ios-app.html">iOS</a></li>
</ul>

<h3>Understanding</h3>
<ul class="sidebar-nav">
  <li><a href="/versions/{{ current_version }}/build-ref.html">Core Concepts</a></li>
  <li><a href="/versions/{{ current_version }}/external.html">External Dependencies</a></li>
  <li><a href="/versions/{{ current_version }}/configurable-attributes.html">Configurable Attributes</a></li>
  <li><a href="/versions/{{ current_version }}/platforms-intro.html">Platforms and Toolchains</a></li>
  <li><a href="/versions/{{ current_version }}/visibility.html">Visibility</a></li>
</ul>

<h3>Releases</h3>
<ul class="sidebar-nav">
  <li><a href="/versions/{{ current_version }}/versioning.html">Release Versioning</a></li>
  <li><a href="/versions/{{ current_version }}/releases.html">Release Policy</a></li>
  <li><a href="/versions/{{ current_version }}/backward-compatibility.html">Backward Compatibility</a></li>
  <li>
    <a class="sidebar-nav-heading" data-toggle="collapse"
        href="#release-notes-menu" aria-expanded="false"
        aria-controls="release-notes-menu">
      Release Notes<span class="caret"></span>
    </a>
    <ul class="collapse sidebar-nav sidebar-submenu" id="release-notes-menu">

       <li><a href="https://blog.bazel.build/2020/11/10/bazel-4.0-announce.html">Bazel 4.0</a></li>
       <li><a href="https://blog.bazel.build/2020/10/20/bazel-3-7.html">Bazel 3.7</a></li>
       <li><a href="https://blog.bazel.build/2020/10/06/bazel-3-6.html">Bazel 3.6</a></li>
       <li><a href="https://blog.bazel.build/2020/08/26/bazel-3.5.html">Bazel 3.5</a></li>
       <li><a href="https://blog.bazel.build/2020/07/13/bazel-3-4.html">Bazel 3.4</a></li>
       <li><a href="https://blog.bazel.build/2020/06/17/bazel-3-3.html">Bazel 3.3</a></li>
       <li><a href="https://blog.bazel.build/2020/05/27/bazel-3-2.html">Bazel 3.2</a></li>
    </ul>
  </li>
</ul>




