---
nav: contribute
---

<!DOCTYPE html>
<html lang="en" itemscope itemtype="https://schema.org/WebPage">
  {% include head.html %}
  <body>
    {% include header.html %}

    <div class="page-title-bar">
      <div class="container">
        <h1>Contribute!</h1>
      </div>
    </div>

    <div class="container vpad">
      <div class="row">
        <div class="col-lg-3">
          <a class="btn btn-default btn-lg btn-block sidebar-toggle"
              data-toggle="collapse" href="#sidebar-nav" aria-expanded="false"
              aria-controls="sidebar-nav">
            <i class="glyphicon glyphicon-menu-hamburger"></i> Navigation
          </a>
          <nav class="sidebar collapse" id="sidebar-nav">
            <ul class="sidebar-nav">
              <li><a href="/contributing.html">Contributing to Bazel</a></li>
              <li><a href="/hard_to_write_rules.html">Pitfalls</a></li>
              <li><a href="/users.html">Who's Using Bazel</a></li>
              <li><a href="/roadmap.html">Roadmap</a></li>
              <li><a href="/governance.html">Governance</a></li>
            </ul>
            <h3>How Bazel Works</h3>
            <ul class="sidebar-nav">
              <li><a href="/docs/skyframe.html">Skyframe</a></li>
              <li><a href="/docs/designs/index.html">Design Documents</a></li>
            </ul>
            <h3>External Resources</h3>
            <ul class="sidebar-nav">
              <li><a href="https://github.com/bazelbuild/bazel">GitHub</a></li>
              <li><a href="https://groups.google.com/forum/#!forum/bazel-dev">Developer mailing list</a></li>
              <li><a href="https://bazel-review.googlesource.com">Gerrit</a></li>
              <li><a href="irc://irc.freenode.net/bazel">IRC</a><li>
            </ul>
          </nav>
        </div>
        <div class="col-lg-9">
          {{ content }}
        </div>
      </div>
    </div>

    {% include footer.html %}
  </body>
</html>
