---
nav: blog
---

<!DOCTYPE html>
<html lang="en" itemscope itemtype="https://schema.org/WebPage">
  {% include head.html %}
  <body>
    {% include header.html %}

    <div class="page-title-bar">
      <div class="container">
        <h1>Bazel Blog</h1>
      </div>
    </div>

    <div class="container vpad">
      <div class="row">
        <div class="col-lg-9">
          {{ content }}
        </div>
        {% include blog-sidebar.html %}
      </div>
    </div>

    {% include footer.html %}
    {% include blog-twitter-js.html %}
  </body>
</html>

