---
nav: community
---

<!DOCTYPE html>
<html lang="en" itemscope itemtype="https://schema.org/WebPage">
  {% include head.html %}
  <body>
    {% include header.html %}

    <div class="page-title-bar">
      <div class="container">
        <h1>Community</h1>
      </div>
    </div>

    <div class="container vpad">
      <div class="row">
        <div class="col-lg-2 col-md-3 col-sm-3">
          <nav class="sidebar">
            <ul class="sidebar-nav">
              <li><a href="/contributing.html">Contributing</a></li>
              <li><a href="/governance.html">Governance</a></li>
              <li><a href="/support.html">Support</a></li>
              <li><a href="/roadmap.html">Roadmap</a></li>
              <li><a href="/users.html">Who's Using Bazel</a></li>
            </ul>
            <h3>Contribute to Bazel</h3>
            <ul class="sidebar-nav">
              <li><a href="https://github.com/google/bazel">GitHub</a></li>
              <li><a href="https://github.com/google/bazel/issues">Issues</a></li>
              <li><a href="https://bazel-review.googlesource.com">Gerrit</a></li>
              <li><a href="https://groups.google.com/forum/#!forum/bazel-discuss">Mailing List</a></li>
            </ul>
          </nav>
        </div>
        <div class="col-lg-10 col-md-9 col-sm-9">
          {{ content }}
        </div>
      </div>
    </div>

    {% include footer.html %}
  </body>
</html>

