---
layout: default
comments: true
---

<div class="post">
 <h1>{{ page.title }}</h1>
 <div><em>{{ page.date | date_to_long_string }}</em></div>

 <div class="entry">{{ content }}</div>

{% if page.comments %}
<div id="disqus_thread"></div>
<script type="text/javascript">
  var disqus_shortname = 'googlebazel';

  (function() {
    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
    dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
  })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
</div>
{% endif %}

</div>
