name: Update Lockfile

on:
  pull_request:
    types:
      - labeled
    branches:
      - lockfile_testing
env:
  GH_TOKEN: ${{ secrets.BAZEL_IO_TOKEN }}
  PR_NUMBER: ${{ github.event.number }}
  # GITHUB_WORKSPACE: ${{ GITHUB_WORKSPACE }}

jobs:
  update-lockfile:
    runs-on: ubuntu-latest
    if: contains(github.event.label.name, 'updatelock')
    steps:
      - name: Check out code
        uses: actions/checkout@v2
      # - name: Install bazelisk
      #   run: |
      #     curl -LO "https://github.com/bazelbuild/bazelisk/releases/download/v1.19.0/bazelisk-linux-amd64"
      #     mkdir -p "${GITHUB_WORKSPACE}/bin/"
      #     mv bazelisk-linux-amd64 "${GITHUB_WORKSPACE}/bin/bazel"
      #     chmod +x "${GITHUB_WORKSPACE}/bin/bazel"
      - name: Testing
        run: |
          echo hi testing!
          pwd
          ls
      - name: Update lockfile
        uses: iancha1992/continuous-integration/actions/lockfile-test@lockfile-test
        # with:
        #   github-dir: "${GITHUB_WORKSPACE}/bin/bazel"
